/**
  RESTAURANT
**/
.img_restaurant {
  width: 100%;
  object-fit: cover;
  height: 250px;
}
@media screen and (min-width: 1300px) {
  .img_restaurant {
    height: 400px;
  }
}

.carte-restaurant {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  position: relative;
  top: -30px;
  padding-bottom: 70px;
}
.carte-restaurant header h1 {
  font-size: 1.4em;
  font-family: "Shrikhand", cursive;
}
.carte-restaurant header .like__icon {
  position: absolute;
  right: 25px;
  top: 70px;
}
.carte-restaurant header .like__icon.like__icon--bg {
  position: absolute;
  right: 26px;
  top: 72px;
}
@media screen and (min-width: 1300px) {
  .carte-restaurant .menu-restaurant {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .carte-restaurant .menu-restaurant .carte-item {
    min-width: 400px;
  }
}
.carte-restaurant .menu-restaurant .toutes_les_entrees div:nth-child(2),
.carte-restaurant .menu-restaurant .tous_les_plats div:nth-child(2),
.carte-restaurant .menu-restaurant .tous_les_desserts div:nth-child(2) {
  animation-delay: 0.1s;
}
.carte-restaurant .menu-restaurant .toutes_les_entrees div:nth-child(3),
.carte-restaurant .menu-restaurant .tous_les_plats div:nth-child(3),
.carte-restaurant .menu-restaurant .tous_les_desserts div:nth-child(3) {
  animation-delay: 0.2s;
}
.carte-restaurant .menu-restaurant .toutes_les_entrees div:nth-child(4),
.carte-restaurant .menu-restaurant .tous_les_plats div:nth-child(4),
.carte-restaurant .menu-restaurant .tous_les_desserts div:nth-child(4) {
  animation-delay: 0.3s;
}
.carte-restaurant .menu-restaurant .toutes_les_entrees h2 {
  margin-top: 15px;
}
.carte-restaurant .menu-restaurant .carte-item {
  box-shadow: 0px 5px 14px #00000026;
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 20px;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}
.carte-restaurant .menu-restaurant .carte-item:hover {
  cursor: pointer;
}
.carte-restaurant .menu-restaurant .carte-item:hover .recette-check {
  width: 70px;
}
.carte-restaurant .menu-restaurant .carte-item:hover .recette-check .fa-check-circle {
  transform: rotate(0deg);
}
.carte-restaurant .menu-restaurant .carte-item .recette-info {
  padding-left: 10px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}
.carte-restaurant .menu-restaurant .carte-item .recette-info h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: bold;
}
.carte-restaurant .menu-restaurant .carte-item .recette-info .subtitle {
  margin: 0px;
  position: relative;
}
.carte-restaurant .menu-restaurant .carte-item .recette-info .subtitle .price {
  font-weight: bold;
  right: -30px;
  position: absolute;
}
.carte-restaurant .menu-restaurant .carte-item .recette-check {
  padding-top: 35px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #99e2d0;
  color: #fff;
  vertical-align: middle;
  flex-grow: 0;
  flex-shrink: 0;
  width: 0px;
  transition: 0.5s ease;
  text-align: center;
  animation-delay: 250ms;
}
.carte-restaurant .menu-restaurant .carte-item .recette-check .fa-check-circle {
  transform: rotate(360deg);
  transition: 0.5s ease;
}
.carte-restaurant .btn_cta {
  margin-top: 50px;
}

/*# sourceMappingURL=restaurant.css.map */
