body {
  font-family: Roboto;
  font-size: 1em;
  margin: 0px;
  background-color: #f6f6f6;
}

main {
  background-color: #fff;
}

.btn_cta {
  background: linear-gradient($secondary-color, $primary-color);
  text-decoration: none;
  color: #fff;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 40px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 80px;
  box-shadow: 0px 4px 20px rgb(0 0 0 / 27%);

  &:hover {
    background: linear-gradient(rgb(240 116 218 / 80%), rgb(175 95 220 / 80%));
    box-shadow: 0px 4px 20px rgb(0 0 0 / 60%);
    transition: 0.3s ease-out;
  }
}

.icon__header {
  position: absolute;
  top: 26px;
  left: 25px;
  z-index: 1;

  i {
    color: #000;
  }
}

.main-header {
  box-shadow: 0px 0px 5px #bbbbbb;
  position: relative;
  background-color: #fff;

  .logo {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: Shrikhand;
  }
}

.localisation {
  background-color: #eaeaea;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

  input {
    background-color: transparent;
    border: none;
    color: #353535;
    padding: 5px;
    font-size: 1em;
  }

  .icon--localisation {
    position: relative;
    left: -15px;
    color: #353535;
    font-size: 1.2em;
  }
}

.menu {
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;

  h2 {
    margin-top: 0px;
    font-family: Roboto;
  }

  p {
    margin-top: 25px;
    margin-bottom: 30px;
    color: #353535;
  }

  .btn {
    background: linear-gradient($secondary-color, $primary-color);
    color: #fff;
    text-decoration: none;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 27%);
    &:hover {
      background: linear-gradient($light-secondary-color, $light-primary-color);
      box-shadow: 0px 4px 20px rgb(0 0 0 / 60%);
      transition: 0.3s ease-out;
    }
  }
}

.fonctionnement {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;

  @media screen and (min-width: 720px) {
    .nbr-etapes {
      display: flex;
      gap: 20px;
      justify-content: center;
    }
  }
}

.nbr-etapes {
  list-style: none;
  padding-left: 0px;

  .etape {
    background-color: #f6f6f6;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 25px;
    position: relative;
    box-shadow: 0px 5px 14px #00000026;
    &:hover {
      background: rgba(175, 95, 220, 0.2);
      box-shadow: 0px 4px 20px rgb(0 0 0 / 60%);
      transition: 0.3s ease-out;

      .etape__icon {
        color: $primary-color;
      }
    }

    .nombre {
      position: absolute;
      border-radius: 100%;
      background-color: $primary-color;
      color: #fff;
      text-align: center;
      height: 25px;
      width: 25px;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      left: -11px;
      top: 27px;
    }
    .i {
      margin-left: 21px;
      color: $primary-color;
    }
  }
}

.restaurants {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  background-color: #f6f6f6;

  @media screen and (min-width: 720px) {
    .cards {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;

      .card {
        flex: 1 0 48%;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .cards {
      .card {
        flex: 1 0 21%;
      }
    }
  }

  .cards {
    .card {
      position: relative;
      background-color: #fff;
      margin-bottom: 20px;
      border-radius: 25px;
      padding-bottom: 15px;

      a {
        text-decoration: none;
        color: #000;
      }

      .like {
        .like__icon {
          position: absolute;
          right: 25px;
          bottom: 35px;

          &.like__icon--bg {
            position: absolute;
            right: 26px;
            bottom: 36px;
          }
        }
      }

      section.carte {
        position: relative;
      }

      p.intitulé {
        font-weight: bold;
      }

      p.price {
        font-weight: bold;
      }

      .tag-nouveau {
        background-color: $tertiary-color;
        color: $darker-tertiary-color;
        position: absolute;
        text-align: center;
        top: 10px;
        right: 10px;
        padding: 10px;
        border-radius: 3px;
      }

      .photo-restaurant {
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
      }

      .nom-restaurant {
        padding-left: 15px;
        padding-right: 15px;

        h3 {
          margin-bottom: 10px;
          font-family: Roboto;
        }

        p {
          margin-top: 0px;
          font-weight: 100;
        }
      }
    }
  }

  img {
    height: 170px;
    width: 334px;
  }
}

footer {
  background-color: #353535;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 30px;

  .logo {
    max-width: 100px;
    font-family: Shrikhand;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  i {
    margin-right: 10px;

    &.icon-partenaire {
      font-size: 0.7em;
    }
  }
}
/* 
Animations coeur 
*/
.like {
  &:hover {
    .like__icon {
      &.like__icon--bg {
        opacity: 1;
        animation: gradient 0.5s ease forwards;
      }
    }
  }
  .like__icon {
    cursor: pointer;
    font-size: 1.5em;
    opacity: 1;
    &.like__icon--bg {
      opacity: 0;
      font-size: 1.37em;
      background-color: $secondary-color;
      background-image: linear-gradient(
        45deg,
        #fff,
        #fff,
        #fff,
        $primary-color,
        $secondary-color
      );
      background-size: 350% 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }
}

.underline {
  background-color: $tertiary-color;
  display: block;
  height: 4px;
  position: relative;
  width: 40px;
}
