$primary-color: #9356dc;
$light-primary-color: rgb(175 95 220 / 80%);
$secondary-color: #ff79da;
$light-secondary-color: rgb(240 116 218 / 80%);
$tertiary-color: #99e2d0;
$darker-tertiary-color: #008766;
